/* ------------------------------------------------- Large Screen. 1200 ---------------------------------------------------*/
 @media (min-width: 1440px) and (max-width: 1600px) {
     .em_sc_100 {
         margin-top: 15px;
    }
     .em_slider_s2_image_inner img{
         width:100%;
    }
}
/* ------------------------------------------------- Large Screen. 1200 ---------------------------------------------------*/
 @media (min-width: 1200px) and (max-width: 1440px) {
     .text-left .em_slider_s2_content {
         margin-right: 10%;
    }
     .text-right .em_slider_s2_content {
         margin-left: 10%;
    }
     .em-slider-sub-title {
         line-height: 100px;
    }
     .em_sc_100 {
         margin-top: 15px;
    }
     .em_slider_s2_image_inner img{
         width:100%;
    }
     .text-right .witr_slider_thumb{
         left: -320px;
    }
     .text-left .witr_slider_thumb{
         right: -300px;
    }
     .em_slider_s2_image img {
         width: 70%;
    }
     .arnika_menu > ul > li > a {
         margin-left:7px;
         margin-right:7px;
    }
     .text-left .witrscontainer h1, .text-left .witrscontainer h2, .text-left .witrscontainer h3, .text-left .witr_slicks_title h4, .text-left .witrscontainer p {
         width: 51%;
    }
     .text-right .witrscontainer h1, .text-right .witrscontainer h2, .text-right .witrscontainer h3, .text-right .witr_slicks_title h4, .text-right .witrscontainer p {
         width: 51%;
    }
}

/* ------------------------------------------------- 
Large Screen. 1024
 ---------------------------------------------------*/
 @media (min-width: 1024px) and (max-width: 1600px) {
     .em-nivo-slider-wrapper:hover .nivo-directionNav a {
         left: 5px;
    }
     .em-nivo-slider-wrapper:hover .nivo-directionNav .nivo-nextNav {
         right: 5px;
    }
    /* banner area css */
     .witr_banner_content.text-right {
         margin-right: 20px;
    }
     .witr_banner_content p {
         width: 60%;
    }
     .em_slider_social {
         top: 45%;
    }
}
/* ------------------------------------------------- Laptop Screen 1366 ---------------------------------------------------*/
 @media (min-width: 1170px) and (max-width: 1366px) {
     .em_creative_header:after {
         -webkit-transform: rotate(-114deg);
         transform: rotate(-114deg);
    }
     .creative_header_address {
         padding-left: 0;
    }
    /* banner area css */
     .witr_banner_content p {
         width: 70%;
    }
}
/* ------------------------------------------------- 
Old Desktop :1365-1660 
---------------------------------------------------*/
 @media (min-width: 1365px) and (max-width: 1660px) {
    /* New Top Menu css */
     .all_header_abs {
        /* position: inherit;
         */
    }
     .arnika_nav_area, .arnika-header-top {
         padding-right: 50px !important;
         padding-left: 50px !important;
    }
     #scrollUp {
        right: 80px;
		bottom: 60px;
    }
    /* swiper slider */
	.witr_sw_text_area {
		width: 88%;
	}
	.witr_swiper_area .text-left .witr_slider_thumb {
		right: -95px !important;
	}
     .witr_swiper_height {
         width: 100% !important;
    }
     .w_slider_3 .witr_swiper_height {
         width: 100% !important;
         transform: translateX(-50%) !important;
         left: 15%;
    }
    /*======== slick slider ==========*/
     .witr_ds_content {
         height: 980px !important;
    }
	.witr_shape_item_inner {
		display: none;
	}
	
	
	
	
}


/* ------------------------------------------------- 
Old Desktop :992
 ---------------------------------------------------*/
 @media (min-width: 992px) and (max-width: 1364px) {
     .witr_b9{
         margin-top: 100px;
    }
     .play-overlay{
         top: 50% !important;
         left: 50% !important;
    }
     .witr_section_title_inner h1, .witr_section_title_inner h2, .witr_section_title_inner h3 {
         font-size: -1px;
    }

}
/* ------------------------------------------------- Old Desktop :992 ---------------------------------------------------*/
 @media (min-width: 992px) and (max-width: 1199px) {
    /* New Top Menu css */
     .arnika_nav_area, .arnika-header-top {
         padding-right: 50px !important;
         padding-left: 50px !important;
    }
     .hmenu_box_style .arnika_menu > ul > li > a {
         margin-left:7px;
         margin-right:7px;
    }
	.devic1024.text-right {
		text-align: center!important;
		margin-top: 10px;
	}	
     .em_creative_header::before {
         width: 19%;
    }
     .em_creative_header::after {
         display: none;
    }
    /* swiper slider */
     .witr_swiper_height {
         width: 100% !important;
    }
     .witr_swiper_content h2, .witr_swiper_content h3 {
         font-size:43px;
    }
     .w_slider_4 .witr_swiper_height {
         margin-left:0px !important;
    }
     .d1.witr_swiper_height {
         width: 100% !important;
    }
     .w_slider_3 .d1.witr_swiper_height {
         width: 100% !important;
         transform: translateX(0) !important;
    }
     .d2.witr_swiper_height {
         width: 50% !important;
    }
     .witr_swiper_area .text-right .witr_slider_thumb {
         left: -230px !important;
    }
     .witr_swiper_area .text-left .witr_slider_thumb {
         right: -180px !important;
    }
    /* nivo slider */
     .em-slider-title {
         font-size: 26px;
         margin-bottom: 10px;
    }
     .em-slider-sub-title {
         font-size: 42px;
         margin-bottom: 2px;
    }
     .em-slider-descript {
         margin-bottom: 20px;
         width: 66%;
    }
     .text-left .em_slider_s2_content {
         margin-right: 10%;
    }
     .text-right .em_slider_s2_content {
         margin-left: 10%;
    }
     .em-slider-sub-title {
         line-height: 49px;
    }
     .em_sc_100 {
         margin-top: 15px;
    }
     .em_slider_s2_image_inner img{
         width:100%;
    }
    /*========= New Top Menu css ========*/
     .cr_top_addess.top-address p {
         text-align: center !important;
    }
     .theme_cr_logo {
         text-align: center;
         margin-bottom: 30px;
    }
     .d_lg_block{
         display:block;
    }
     .creative_header_address {
         padding-left: 0;
    }
     .em_creative_header:before{
         display:none;
    }
    /*========= banner area css ========*/
     .witr_banner_content h2 {
         font-size: 50px;
    }
     .witr_banner_content p {
         width: 85%;
    }
     .witr_banner_content.text-right {
         margin-right: 20px;
    }
    /*======== banner_area 2 ==========*/
     .banner_area {
         position: relative;
         height: 600px;
    }
    /*======== slick slider ==========*/
     .witr_ds_content {
         height: 840px !important;
    }
    /*========== height css ===========*/
     .menu-height-space {
         height: 0;
    }
     .em_creative_header:after {
         -webkit-transform: rotate(-100deg);
         transform: rotate(-100deg);
    }
     .arnika_menu > ul > li > a {
         font-size: 17px;
         margin-left:4px;
         margin-right:4px;
    }
     a.dtbtn {
         font-size: 15px;
    }
     .witr_h_h8 .arnika_menu > ul > li > a, .witr_h_h15 .arnika_menu > ul > li > a, .witr_h_h16 .arnika_menu > ul > li > a, .witr_h_h10 .arnika_menu > ul > li > a, .witr_h_h11 .arnika_menu > ul > li > a, .witr_h_h17 .arnika_menu > ul > li > a{
         margin-left:6px;
         margin-right:6px;
    }
     .witr_h_h9 .arnika_menu > ul > li > a{
         margin-left:2px;
         margin-right:2px;
    }
     .witr_h_h20 .arnika_menu > ul > li > a{
         margin-left:6px;
         margin-right:6px;
    }
    /* new css */
     .sub-item p {
         padding: 0 6px;
    }
     .witr_section_title_inner.text-center p, .witr_section_title_inner.text-left p, .witr_section_title_inner.text-right p {
         width: 67%;
    }
     .title_in_area{
         width: 100%;
    }
    /* single_image */
     .single_image {
         left: 0 !important;
    }
     .single_image img{
         width: 100% !important;
         max-width: 100% !important;
    }
    /* text_widget css */
     .witr_text_widget_inner h1, .witr_text_widget_inner h2{
         font-size: 30px !important;
         padding: 0 !important;
    }
    /* Screenshots css */
     .dnSlide-main.done {
         margin-left: 61px;
    }
     .Screenshots-fearm img {
         width: 190% !important;
         left: -96px;
         top: -28px;
         max-width: 190% !important;
    }
     .Screenshots .dnSlide-main .dnSlide-right-btn {
         right: -83px;
    }
     .Screenshots .dnSlide-main .dnSlide-left-btn {
         left: -43px;
    }
     .accordion-content {
         padding: 23px 25px;
    }
    /* shortcode_content */
     .shortcode_content h2 {
         font-size: 30px !important;
    }
    /* images_area */
     .images_area.wittr_car_top_left .slick-dots {
         left: 30px;
    }
     .singleSS {
         padding: 61px 24px 60px;
    }
     .witr_nth_child:nth-child(2n) {
         margin-top: 0;
         margin-bottom: 30px;
    }
    /* blog css */
     .wblog-content h5 > a {
         font-size: 19px;
    }
     .blog-content span {
         font-size: 13px;
    }
     .blog-content > a {
         line-height: 40px;
         padding: 0 20px;
    }
     .widget .widget_media_image img{
         width:100%;
    }
     .blog-left-side .blog-title > ul > li > a {
         margin-right: 8px;
    }
     .recent-post-text > h4 {
         margin-top: 15px;
         line-height: 1;
    }
     .footer-middle .recent-post-text > h4 {
         margin-top: -7px;
         line-height: 1;
    }
     .em-blog-content-area {
         padding: 22px 15px 7px;
    }
     .witr_titles h3 {
         font-size: 20px;
    }
     .witr_blog_con6 h2 {
         font-size: 17px;
    }
     .witr_blog_con6 h5 a {
         font-size: 17px;
    }
    /* team css */
     .team-style-2 .em-content-title h2 {
         font-size: 17px;
         margin-top: -1px;
    }
     .team-style-2 .em-content-socials a {
         font-size: 14px;
    }
    /* feature css */
     .witr_feature2 h3 {
         font-size: 20px;
    }
    /* service css */
     .witr_content_service h3 {
         color: #fff;
         font-size: 20px;
    }
     .witr_service3_box {
         text-align: center;
    }
     .witr_service3_icon {
         float: none;
         margin-right: 0;
         margin-bottom: 15px;
    }
    /* testomonial style 8 css */
     .witr_testomonial_area {
         width: 85%;
    }
     .witr_testi_main {
         width: 75%;
    }
    /* curosel-style css */
     .curosel-style .owl-nav div {
         left: -15px;
    }
     .curosel-style .owl-nav .owl-next{
         right: -15px;
    }
    /* countdown css */
     span.cdowns {
         margin: 0 28px;
    }
    /* timeline css */
     .mrr90 {
         margin-right: 54px;
    }
     .mrl110 {
         margin-left: 50px;
    }
    /* static tab css*/
     .event_pcontent p, .arnika_event_icon span {
         font-size: 13px;
    }
     .footer-middle .mc4wp-form-fields button {
         width: 39px;
    }
     .footer-bottom::before {
         width: 100%;
    }
     .text-right .witr_slider_thumb{
         left: -90px !important;
    }
     .text-left .witr_slider_thumb{
         right: -340px !important;
    }
     .em_slider_s2_image img {
         width: 70%;
    }
     .witr_back_process,.witr_process_box {
         display: none;
    }
    /* add new css*/
    /* causes */
     .witr_couses_btnb a {
         padding: 13px 18px;
         font-size: 15px;
    }
     .witr_circal_r {
         margin-left: 18px;
    }
     .witr_circal_r h6 {
         font-size: 15px;
    }
    /* event */
     .witr_event_btn a {
         font-size: 16px;
    }
     .witr_event_style_7 .witr_event_d {
         padding-top: 64px;
    }
     .witr_event_style_7 .event-page-title_adn {
         padding-top: 15px;
    }
     #scrollUp {
         bottom: 60px;
         right: 30px;
    }
.witr_sw_text_area {
    width: 94%;
}	
.witr_shape_item_inner {
    display: none;
}	
.witr_nth_child .wblog-content {
    padding: 23px 4px 20px;
}	
.wblog-content span a {
    font-size: 12px;
}	
.arnika_about_area  .witr_section_title_inner h3 {
    font-size: 27px;
}	
.witr_about_content h2 {
    padding: 30px 0px 15px 0px;
}	
.witr_sub_item {
   padding: 20px 17px 50px;
}	
.counter_title h4 {
    font-size: 15px;
}	
.countr_text>h3 {
    font-size: 35px;
}	
.witr_section_right .witr_section_title_inner h3 {
    font-size: 30px;
}	
.witr_content_pslide_text a {
    font-size: 20px;
}	
.top_single_testi.single_2p_testimonial {
    padding: 50px 15px;
}	
.wirr_portfolio1_area .prot_content h3 a {
   font-size: 15px;
}	
.pstyle_1 .picon a {
	margin: 0 8px 4px;
}	
	
	
	
	
}

/* ------------------------------------------------- 
Tablet Screen : 768 
---------------------------------------------------*/
 @media (min-width: 768px) and (max-width: 991px) {
     .all_header_abs {
         position: inherit;
    }
     .all_header_abs .arnika-header-top {
         background: #0049ff;
    }
     .arnika-header-top {
         padding-right: 0 !important;
         padding-left: 0 !important;
    }
     .creative_header_address {
         padding-left: 10px;
    }
    /* swiper slider */
     .witr_swiper_height {
         height: 800px !important;
    }
     .witr_swiper_height {
         width: 100% !important;
    }
     .w_slider_4 .witr_swiper_height {
         margin-left:0px !important;
    }
     .t1.witr_swiper_height {
         width: 100% !important;
    }
     .w_slider_3 .t1.witr_swiper_height {
         transform: translateX(0) !important;
    }
     .t2.witr_swiper_height {
         width: 50% !important;
         left: -20px;
    }
     .w_slider_3 .t2.witr_swiper_height {
         transform: translateX(-50%) !important;
         left: 91%;
    }
     .witr_swiper_area .text-left .slider_vd_icon {
         right: 48% !important;
         top: 17% !important;
    }
     .witr_swiper_area .text-right .slider_vd_icon {
         left: 48% !important;
         top: 17% !important;
    }
     .witr_swiper_area .text-center .slider_vd_icon {
         top: 17%;
    }
     .witr_sw_text_area.text-right, .witr_sw_text_area.text-left {
         text-align: center !important;
    }
     .text-right .witr_swiper_content h1, .text-right .witr_swiper_content h2, .text-right .witr_swiper_content h3, .text-right .witr_swiper_content p, .text-left .witr_swiper_content h1, .text-left .witr_swiper_content h2, .text-left .witr_swiper_content h3, .text-left .witr_swiper_content p, .text-center .witr_swiper_content h1, .text-center .witr_swiper_content h2, .text-center .witr_swiper_content h3, .text-center .witr_swiper_content p {
         width: 100% !important;
         margin-left: auto;
         margin-right: auto;
         text-align:center !important;
    }
     .witr_swiper_content h2, .witr_swiper_content h3 {
         font-size: 40px;
    }
     .text-right .witr_btn_sinner, .text-left .witr_btn_sinner {
         text-align: center !important;
    }
    /* slick slider */
     .em-slider-title {
         font-size: 16px;
         margin-bottom: 10px;
    }
     .em-slider-sub-title {
         font-size: 30px;
         margin-bottom: 0;
    }
     .em-slider-descript {
         display: none;
    }
     .em-button-button-area a {
         margin-top: 20px;
    }
     .em-slider-sub-title {
         line-height: 46px;
    }
    /* banner area css */
     .witr_banner_area {
         height: 700px;
    }
     .witr_banner_content h1 {
         font-size: 58px;
    }
     .witr_banner_content h2 {
         font-size: 42px;
    }
     .witr_banner_content p {
         font-size: 16px;
         width: 77%;
    }
     .witr_butn {
         line-height: 49px;
    }
     .witr_banner_content.text-right {
         margin-right: 20px;
    }
    /*=========== banner area 2 css ===============*/
     .banner_area {
         height: 700px;
    }
     .banner-content h1, .banner-content h2, .banner-content h3 {
         font-size: 45px;
    }
     .witr_deshboard {
         margin-top: 30px;
    }
    /* animate_banner_area */
     .animate_banner_area .text-center.banner-content p, .animate_banner_area .text-right.banner-content p, .animate_banner_area .text-left.banner-content p {
         width: 100% !important;
    }
    /*=========== Slick area css ===============*/
     .witr_ds_content {
         height: 790px !important;
    }
     .text-right .witr_ds_content_inner h1, .text-right .witr_ds_content_inner h2, .text-right .witr_ds_content_inner h3, .text-right .witr_ds_content_inner p, .text-left .witr_ds_content_inner h1, .text-left .witr_ds_content_inner h2, .text-left .witr_ds_content_inner h3, .text-left .witr_ds_content_inner p, .text-center .witr_ds_content_inner h1, .text-center .witr_ds_content_inner h2, .text-center .witr_ds_content_inner h3, .text-center .witr_ds_content_inner p {
         width: 100% !important;
         margin-left: auto;
         margin-right: auto;
         text-align:center !important;
    }
     .text-left .slider_vd_icon {
         right: 43% !important;
         top: -13% !important;
    }
     .text-right .witr_ds_content_inner h1, .text-right .witr_ds_content_inner h2, .text-right .witr_ds_content_inner h3, .text-left .witr_ds_content_inner h1, .text-left .witr_ds_content_inner h2, .text-left .witr_ds_content_inner h3, .text-center .witr_ds_content_inner h1, .text-center .witr_ds_content_inner h2, .text-center .witr_ds_content_inner h3{
    }
     .text-right .slider_vd_icon {
         left: 43% !important;
         top: -13% !important;
    }
     .witr_slicks_title h4 {
         font-size: 105px !important;
    }
     .slider_btn {
         text-align: center;
    }
     .witr_slider_thumb.em_slider_s2_image {
         display: none;
    }
    /* tutor */
     .tutor-course-loop-title h2 a {
         font-size: 17px;
    }
    /* Em-Creative Header */
     .tx_top_together {
         justify-content: center;
    }
     .creative_header_curve {
         display: none;
    }
     .creative_header_logo {
         padding-right: 0;
         text-align: center;
    }
     .em_creative_header {
         background: transparent none repeat scroll 0 0;
         z-index: 999;
    }
     .single_header_address {
        /* padding: 27px 0 20px;
         */
    }
     .creative_header_button {
         padding-bottom: 30px;
         text-align: center;
    }
     .creative_header_button:before, .em_creative_header:before, .em_creative_header:after {
         display: none;
    }
     .em_creative_header {
         padding-bottom: 0;
    }
     .em-nivo-slider-wrapper .nivo-directionNav {
         display: none;
    }
    /* section_title */
     .witr_section_title_inner h1, .witr_section_title_inner h3 {
         font-size: 29px;
    }
     .witr_section_title_inner.text-center p, .witr_section_title_inner.text-left p, .witr_section_title_inner.text-right p {
         width: 83%;
    }
     .title_in_area{
         width: 100%;
    }
    /* about css */
     .witr_text_widget_inner h1, .witr_text_widget_inner h2 {
         font-size: 23px;
    }
     .witr_about_content {
         text-align: center;
    }
    /* accourdion css */
     .arnika-accourdion-title h2 i {
         display: none;
    }
     .accordion-content {
         padding: 23px 0px;
    }
    /* service css */
     .witr_custom2_icon {
         float: none;
         margin-right: 0;
         margin-bottom: 15px;
    }
     .witr_service3_box {
         text-align: center;
    }
     .witr_service3_icon {
         float: none;
         margin-right: 0;
         margin-bottom: 15px;
    }
     .wirt_new_iner {
         float: none;
         margin-right: 0;
    }
     .witr_service7s_image {
         margin-right: 10px;
    }
    /* single_image */
     .single_image {
         left: 0 !important;
    }
     .single_image img{
         width: 100% !important;
         max-width: 100% !important;
    }
     .witr_tx_ovei_title {
         position: inherit;
         right: auto;
         left: auto;
         top: auto;
         padding: 30px;
         width: 100%;
         border-radius: 0px;
    }
    /* testomonial css */
     .testomonial.testomonial-5 .test-part img.testimg {
         top: 86%;
    }
     .witr_content_test7 {
         padding: 0;
    }
    /* testomonial style 8 css */
     .witr_testomonial_area {
         width: 90%;
    }
     .witr_testi_main {
         width: 90%;
    }
    /* blog css */
     .blog-img img {
         width: 100%;
    }
     .sub-border-2 .sub-item span {
         top: 31px;
         left: 75%;
    }
     .sub-item p {
         padding: 0;
    }
     .digital-item ul li a {
         padding: 7px 57px;
    }
     .mobil-item {
         margin-top: 30px;
    }
     .download-demo {
         text-align: center;
    }
    /* Screenshots css */
     .dnSlide-main.done {
         margin-left: -54px;
    }
     .Screenshots-fearm img {
         width: 240% !important;
         left: -149px;
         top: -24px;
         max-width: 240% !important;
    }
     .Screenshots .dnSlide-main .dnSlide-right-btn {
         right: 0px;
    }
     .Screenshots .dnSlide-main .dnSlide-left-btn {
         left: 47px;
    }
     .arnika-accourdion-title h2 {
         padding-left: 20px;
    }
     .w_apps_button a {
         padding: 3px 20px 11px 20px !important;
    }
     span.iarnika {
         font-size: 20px;
         margin-right: 10px;
    }
     span.spaninner {
         font-size: 20px;
    }
    /* about css */
     .digital-img img, .witr_app_area .digital-content h3 {
         margin-top:0px !important;
    }
    /* counter css */
     .witr_counter_single {
         text-align: center;
    }
     .witr_counter_icon i {
         margin-bottom: 15px;
         margin-right: 0;
         float: none;
    }
     .witr_counter_img, .witr_custom_icon {
         margin-bottom: 10px !important;
         float: none !important;
    }
     .witr_custom_icon i{
         margin-right: 0;
         float: none;
    }
     .witr_counter_6 .wirt_new_iner {
         width: 100%;
         margin-bottom: 30px;
    }
    /* shortcode_content */
     .shortcode_content h2 {
         font-size: 35px !important;
    }
     .footer-item form label {
         margin-left: 30px;
    }
     .footer-bottom:before {
         width: 100%;
    }
     .deshboard img {
         width: 100%;
    }
     .video-part .video-overlay {
         padding: 100px 0;
    }
     .video-item h3 {
         font-size: 30px;
    }
     .play-overlay{
         top: 50% !important;
         left: 50% !important;
    }
     .witr_videos_title_text {
         left: 15px;
         bottom: 15px;
         width: 100% !important;
    }
    /* blog css */
     .blog-content span {
         font-size: 14px;
    }
     .blog-left-side .widget h2 {
         font-size: 19px;
    }
     .blog-page-title h2 {
         font-size: 18px;
    }
     .widget .widget_media_image img{
         width:100%;
    }
     .blog-left-side .blog-title > ul > li > a {
         height: 30px;
         width: 30px;
         line-height: 29px;
         font-size: 15px;
         margin-right: 2px;
    }
     .recent-post-text > h4 {
         line-height: 23px;
    }
     .recent-post-text h4 a , .recent-post-text .rcomment{
         font-size: 18px;
    }
     .breadcumb-area {
         padding: 100px 0px !important;
    }
     .em-blog-content-area {
         padding: 15px 15px 10px;
    }
     .witr_blog_area10 .witr_blog_con {
         padding-top: 12px;
    }
    /* call-to-action css */
     .arnika_button.no_margin.text-right, .all_cal_color {
         text-align: center !important;
    }
     .cal_to_toggole {
         display: inherit;
    }
     .arnika_content.text-right, .arnika_content.text-left{
         text-align:center !important;
    }
     .arnika_button.no_margin {
         width: 100% !important;
         margin-bottom: 20px;
    }
     .arnika_content p {
         width: 100% !important;
    }
     .witr_9 .arnika_video_inner{
         margin-bottom: 73px;
    }
     .witr_9 .arnika_video_inner{
         top: 40px;
    }
     .witr_col_image {
         margin-top: 50px;
    }
     .witr_11 {
         margin-top: 100px;
    }
     .witr_5 .arnika_content p{
         width: 100%;
    }
     .witr_b9{
         margin-top: 95px;
    }
    /* .arnika_content.col_content_width_100 {
         text-align: left !important;
    }
     */
    /* single portfolio2 */
     .portfolio-details-box {
         margin-left: 0;
    }
     .pimgs img {
         width: 100%;
    }
    /* contact css */
     .witr_field2 .witr_form_field2, .witr_field2 .witr_form_field2 {
         float: none;
         width: 100%;
    }
     .witr_form_controls2 .witr_field2 .witr_form_field2:nth-child(odd), .witr_form_controls2 .witr_field2 .witr_form_field2:nth-child(odd) {
         margin-right: 0;
    }
    /* countdown css */
     span.cdowns {
         margin-bottom: 20px;
    }
     span.cdowns:before {
         display: none;
    }
     span.cdowns:after {
         display: none;
    }
     .witr_btn {
         margin-top: 11px !important;
         margin-bottom: 15px;
    }
    /* curosel-style css */
     .curosel-style .owl-nav div {
         left: -15px;
    }
     .curosel-style .owl-nav .owl-next{
         right: -15px;
    }
    /* timeline css */
     .mrl65,.mrr15{
         display:none;
    }
     .mrr50 {
         margin-right: -235px;
    }
     .mrl110 {
         margin-left: -63px;
    }
     .mrr90 {
         margin-right: -40px;
    }
    /* static tab css*/
     .arnika_event_thumb {
         float: none;
         margin-bottom: 15px;
    }
     .arnika_single_event {
         margin: 0;
    }
     .arnika_event_icon span {
         margin-right: 5px;
    }
     .testomonial-slide .slick-prev, .blog_wrap .slick-prev {
         left: 15px;
    }
     .testomonial-slide .slick-next, .blog_wrap .slick-next {
         right: 15px;
    }
     .recent-post-text {
         margin-top: 10px;
    }
    /*====== new css ======= */
    /* ab_videoArea */
     .singleAbSlide {
         right: 0;
         left: 0;
         bottom: -218px;
    }
     .em_single_testimonial {
         padding: 37px 4px 26px;
    }
     .em_testi_logo {
         right: 15px;
         top: 35px;
         display:none;
    }
     .witr_nth_child:nth-child(2n) {
         margin-top: 0;
         margin-bottom:30px;
    }
     .witr_single_call .text-right {
         text-align: center !important;
    }
     .witr_center{
         text-align: center;
    }
     .em_slider_social {
         top: 41%;
         z-index: 999999;
         display:none;
    }
     .arnika_content {
         margin-bottom: 30px;
    }
     .witr_s_flex {
         display: inherit;
    }
    /* new css add */
     .witr_event_style_5 .witr_event_d {
         padding-top: 30px;
    }
     .witr_event_style_5 .witr_event_btn {
         margin-top: 8px;
    }
     .witr_event_style_7 .witr_event_btn {
         text-align: center;
    }
     .witr_appoimentle{
         position: initial !important;
    }
     #scrollUp {
         bottom: 60px;
         right: 30px;
    }
    /* ps slider */
     .toggle_pslide{
         display: inherit;
    }
     .witr_pslide5 .witr_content_pslide_text {
         padding: 10px 15px 15px 15px;
    }
.witr_sw_text_area {
    width: 92%;
}	
.witr_shape_item_inner {
    display: none;
}	
.witr_nth_child .wblog-content {
    padding: 23px 10px 20px;
}	
.top_address_content a, 
.top_address_content span {
    margin-bottom: 10px;
}	
.copy-right-text p {
    font-size: 16px;
}	
.witr_about_content p {
    width: 100%;
}	
.arnika_about_area  .witr_section_title_inner h3 {
    font-size: 20px;
}	
.witr_about_content h2 {
    padding: 30px 0px 15px 0px;
}	
.witr_section_right {
    margin-bottom: 50px;
}	
.arnika_skill2_area .single_image_area {
    margin-bottom: 40px;
}
.team_area .text_box {
    padding: 10px 15px 31px;
}	
.single_portfolio_previwe2 {
    margin-bottom: 40px;
}	
.arnika-single-icon-inner {
    text-align: left;
}	
.apartment_area {
    padding: 60px 15px 47px;
}	
	
	
	
	
	
	
	
	
	
	
	
}
/* ------------------------------------------------- 
Small Mobile : 320
 ---------------------------------------------------*/
 @media (max-width: 767px) {
    /* New Top Menu css */
     .all_header_abs {
         position: inherit;
    }
     .single_header_address {
         padding: 0;
         padding-bottom: 25px;
    }
     .creative_header_address {
         padding-left: 0px;
    }
     .cr_top_addess.top-address p {
         text-align: center !important;
    }
     .breadcumb-area {
         padding: 100px 0px !important;
    }
     .brpt h2 {
         font-size: 30px;
    }
    /* swiper slider */
		.witr_sw_text_area {
		width: 94%;
	}
     .witr_swiper_height {
         height: 700px !important;
         width: 100% !important;
    }
     .w_slider_3 .witr_swiper_height {
         transform: translateX(0) !important;
    }
     .w_slider_4 .witr_swiper_height {
         margin-left:0px !important;
    }
     .m1.witr_swiper_height {
         width: 100% !important;
    }
     .witr_swiper_area .text-left .slider_vd_icon {
         right: 37% !important;
         top: 12% !important;
    }
     .witr_swiper_area .text-right .slider_vd_icon {
         left: 40% !important;
         top: 12% !important;
    }
     .witr_swiper_area .text-center .slider_vd_icon {
         top: 12%;
    }
     .witr_sw_text_area.text-right, .witr_sw_text_area.text-left {
         text-align: center !important;
    }
     .swiper-button-prev,.swiper-button-next {
         display: none;
    }
     .witr_swiper_area .witr_btn {
         margin-right: 0;
         margin-bottom: 10px;
    }
     .text-right .witr_swiper_content h1, .text-left .witr_swiper_content h1, .text-center .witr_swiper_content h1{
         font-size:20px;
    }
     .text-right .witr_swiper_content h2, .text-right .witr_swiper_content h3, .text-left .witr_swiper_content h2, .text-left .witr_swiper_content h3, .text-center .witr_swiper_content h2, .text-center .witr_swiper_content h3{
         font-size:25px;
    }
     .text-right .witr_swiper_content h1, .text-right .witr_swiper_content h2, .text-right .witr_swiper_content h3, .text-right .witr_swiper_content p, .text-left .witr_swiper_content h1, .text-left .witr_swiper_content h2, .text-left .witr_swiper_content h3, .text-left .witr_swiper_content p, .text-center .witr_swiper_content h1, .text-center .witr_swiper_content h2, .text-center .witr_swiper_content h3, .text-center .witr_swiper_content p {
         width: 100% !important;
         margin-left: auto;
         margin-right: auto;
         text-align:center !important;
    }
     .witr_swiper_content p {
         font-size: 17px;
    }
     .text-right .witr_btn_sinner, .text-left .witr_btn_sinner {
         text-align: center !important;
    }
    /* em-slider-title */
     .em-slider-title {
         font-size: 16px;
         margin-bottom: 10px;
    }
     .em-slider-sub-title {
         font-size: 28px;
         margin-bottom: 0;
    }
     .em-slider-descript {
         display: none;
    }
     .em-slider-button {
         display: none;
    }
     .em-nivo-slider-wrapper .nivo-controlNav {
         display: none;
    }
     .text-left .em_slider_s2_content {
         margin-right: auto;
    }
     .text-right .em_slider_s2_content {
         margin-left: auto;
    }
     .em-slider-sub-title {
         line-height: 32px;
    }
     .em_slider_inner.text-left, .em_slider_inner.text-right{
         text-align:center !important;
    }
     .em_slider_s2_image {
         display: none;
    }
    /*========= banner area css ===========*/
     .witr_banner_area {
         height: 640px;
    }
     .witr_banner_content h1 {
         font-size: 25px;
    }
     .witr_banner_content h2 {
         font-size: 20px;
    }
     .witr_banner_content p {
         font-size: 16px;
         width: 87%;
    }
     .witr_banner_content.text-left, .witr_banner_content.text-right{
         text-align:center !important;
    }
     .witr_banner_content.text-left p, .witr_banner_content.text-right p {
         width: 100%;
    }
     .witr_banner_content.text-left {
         margin-left: 0;
    }
     .witr_banner_content.text-right {
         margin-right: 0;
    }
     .witr_video_butns {
         display: block;
         margin-top: 15px;
    }
    /*=========== banner area 2 css ===============*/
     .banner_area {
         text-align: center;
    }
     .banner-content h1, .banner-content h2, .banner-content h3 {
         font-size: 22px;
    }
     .witr_float .butn, .witr_float .butn {
         float: none;
         display: block;
         margin-bottom: 10px;
         margin-right: 0;
    }
     .witr_btns2 {
         display: block;
         margin-top: 20px;
    }
     .banner-content form {
         width: 100%;
    }
     .banner-content input {
         width: 100%;
    }
     .banner-content button {
         position: inherit;
         margin-top: 20px;
    }
     .witr_deshboard {
         margin-top: 30px;
    }
    /* animate_banner_area */
     .animate_banner_area .text-center.banner-content p, .animate_banner_area .text-right.banner-content p, .animate_banner_area .text-left.banner-content p {
         width: 100% !important;
    }
    /*=========== Slick area 2 css ===============*/
     .witr_ds_content {
         height: 670px !important;
         background-size: cover;
         background-position: center center;
         overflow: hidden;
    }
     .text-right .witr_ds_content_inner h1, .text-right .witr_ds_content_inner h2, .text-right .witr_ds_content_inner h3, .text-right .witr_ds_content_inner p, .text-left .witr_ds_content_inner h1, .text-left .witr_ds_content_inner h2, .text-left .witr_ds_content_inner h3, .text-left .witr_ds_content_inner p, .text-center .witr_ds_content_inner h1, .text-center .witr_ds_content_inner h2, .text-center .witr_ds_content_inner h3, .text-center .witr_ds_content_inner p {
         width: 100% !important;
         margin-left: auto;
         margin-right: auto;
         text-align:center !important;
    }
     .text-left .slider_vd_icon {
         right: 40% !important;
         top: -18% !important;
    }
     .text-right .witr_ds_content_inner h1, .text-left .witr_ds_content_inner h1, .text-center .witr_ds_content_inner h1{
         font-size:20px;
    }
     .text-right .witr_ds_content_inner h2, .text-right .witr_ds_content_inner h3, .text-left .witr_ds_content_inner h2, .text-left .witr_ds_content_inner h3, .text-center .witr_ds_content_inner h2, .text-center .witr_ds_content_inner h3{
         font-size:25px;
    }
     .text-right .slider_vd_icon {
         left: 40% !important;
         top: -18% !important;
    }
     .witr_slicks_title h4 {
         font-size: 65px !important;
    }
     .witr_btn {
         padding: 10px 26px;
         margin-right: 0;
    }
     .slider_btn {
         text-align: center;
    }
     .section-title.t_center {
         width: 100%;
    }
     .section-title.t_left {
         width: 100%;
    }
     .section-title.t_right {
         width: 100%;
    }
    /* tutor */
     .tutor-course-archive-filters-wrap {
         margin-top: 25px;
    }
     .top-address p a, .top-right-menu ul.social-icons li a, .top-address p span {
         font-size: 13px;
    }
     .top-right-menu ul.social-icons {
    }
    /* footer bar */
     .footer-top-inner p {
         width: 100%;
    }
     .footer-menu ul {
         margin: 10px 0 0;
         text-align: center !important;
    }
     .footer-menu ul li a {
         font-size: 14px;
    }
     .copy-right-text p {
         text-align: center;
    }
     .footer-bottom:before {
         width: 100%;
    }
     .breadcumb-blog-area {
         padding: 50px 0;
    }
    /* blog css */
     .em-blog-content-area {
         padding: 20px 10px 5px;
    }
     .arnika-blog-meta-left a, .arnika-blog-meta-left span {
         font-size: 11px;
         margin-right: 3px;
    }
     .arnika-blog-meta-right a, .arnika-blog-meta-right span {
         font-size: 11px;
         margin-left: 3px;
    }
     .witr_ablog_content h2 a{
         font-size: 18px;
    }
    /* single blog */
     .post_reply ul, .blog-content ul, .single-blog-content ul {
         padding-left: 20px;
    }
     .post_reply ol, .blog-content ol, .single-blog-content ol {
         padding-left: 20px;
    }
     .comments-area .children {
         margin-left: 10px;
    }
     .comment_field .input-field {
         width: 100%;
    }
     .pdsr {
         padding-top: 50px;
    }
     .pdsl {
         padding-bottom: 90px;
    }
     #wp-calendar {
         display: block;
    }
    /* footer css */
     .copy-right-text p {
         font-size: 11px;
    }
     .footer-social-icon a i {
         font-size: 16px;
         height: 35px;
         line-height: 35px;
         width: 35px;
    }
    /* Em-Creative Header */
     .creative_header_curve {
         display: none;
    }
     .creative_header_logo {
         padding-right: 0;
         text-align: center;
    }
     .em_creative_header {
         background: transparent none repeat scroll 0 0;
         z-index: 999;
    }
     .single_header_address {
         text-align: center;
    }
     .creative_header_button {
         padding-bottom: 30px;
         position: relative;
         text-align: center;
    }
     .creative_header_icon {
         float: none;
         margin-bottom: 10px;
         margin-right: 0;
         overflow: hidden;
    }
     .creative_header_address .col-sm-4.col-xs-12{
         padding-left:0;
    }
     .creative_header_logo {
         display: none;
    }
     .creative_header_button:before, .em_creative_header:before, .em_creative_header:after {
         display: none;
    }
    /* new css */
    /* footer css */
     .copy-right-text p {
         font-size: 15px;
    }
     .arnika-blog-thumb img {
         width: 100%;
    }
    /* section title css */
     .witr_section_title_inner h1, .witr_section_title_inner h2, .witr_section_title_inner h3{
         font-size: 21px;
         line-height: 30px;
    }
     .witr_section_title_inner h2 {
         margin-bottom: 4px;
         font-size: 15px;
    }
     .title_in_area {
         display: inherit;
    }
     .title_in:before, .title_in:after {
         background: none;
    }
     .title_tx h2 {
         font-size: 16px;
    }
     .title_p {
         padding-left: 0;
    }
     .title_in_area, .witr_section_title_inner.text-center p, .witr_section_title_inner.text-left p, .witr_section_title_inner.text-right p {
         width: 100%;
    }
     .witr_section_title_inner p {
         padding-top: 10px;
    }
     .witr_section_title{
         text-align: center;
    }
     .witr_section_title .text-right {
         text-align: center !important;
    }
     .title_btn {
         margin: 30px 0 20px;
    }
    /* about css */
     .witr_text_widget_inner h1, .witr_text_widget_inner h2 {
         font-size: 20px;
         line-height: 36px;
    }
     .witr_text_widget_inner p, .about-content span{
         font-size: 16px;
    }
    /* feature area */
     .em_feature-icon {
         font-size: 18px;
    }
     .em_feature-icon i {
         float: none;
    }
     .em-feature-title h2 {
         margin-top: 0;
         margin-bottom: 0;
    }
     .witr_feature_content_3d h3 {
         font-size: 21px;
    }
     .sub-item h3 {
         font-size: 21px;
    }
     .w_apps_button_area {
         text-align: center;
    }
     .witr_app_area .digital-content h3 {
         margin: 0 !important;
         font-size: 25px;
    }
     .feature_inner_box{
         text-align:center;
    }
    /* Screenshots css */
     .dnSlide-main.done {
         -webkit-transform: scale(0.4);
         transform: scale(0.4);
         margin-left: -280px;
         top: -120px;
    }
     .Screenshots-fearm img {
         width: 260% !important;
         max-width: 260% !important;
         left: -65px;
    }
     .dnSlide-main img{
         width: 100%;
    }
     .dnSlide-btn {
         display: none;
    }
     .Screenshots-area .Screenshots-frame-img {
         left: -64%;
         top: -13px;
         width: 232%;
    }
     .digital-item ul li a {
         padding: 7px 27px;
    }
     .mobil-item {
         margin-top: 30px;
    }
    /* countdown css */
     span.cdowns {
         margin-bottom: 30px;
    }
     span.cdowns:before {
         display: none;
    }
     span.cdowns:after {
         display: none;
    }
     .witr_btn {
         margin-top: 11px !important;
         margin-bottom: 15px;
    }
    /* testomonial css */
     .testomonial.testomonial-5 .test-part img.testimg {
         top: 88%;
    }
     .testomonial .test-part img {
         margin: 0 !important;
    }
     .em_test_thumb {
         margin-right:15px;
    }
     .em_testi_title h2 {
         font-size: 17px;
    }
     .testiCreCon {
         padding: 8px 20px 30px 20px;
    }
     .witr_content_test7 {
         padding: 0;
    }
    /* testomonial style 8 css */
     .witr_testomonial_area {
         width: 100%;
    }
     .witr_test_part {
         float: none;
         margin-left: 0;
         margin-right: 0;
    }
     .witr_test_part img {
         margin: auto;
    }
     .witr_testi_main {
         width: 100%;
    }
    /* service css */
     .service-item {
         text-align: center;
    }
     .witr_service2_toggle, .witr_s_flex {
         display: inherit;
    }
     .wirt_s2_s9 .witr_titles {
         margin-top: 10px;
    }
     .witr_service2_box {
         text-align: center;
    }
     .witr_custom2_icon {
         float: none;
         margin-right: 0;
         margin-bottom: 15px;
    }
     .witr_service3_box {
         text-align: center;
    }
     .witr_service3_icon {
         float: none;
         margin-right: 0;
         margin-bottom: 15px;
    }
     .wirt_new_iner {
         float: none;
         margin-right: 0;
    }
     .witr_2service_content {
         display: inherit;
    }
     .witr_service7s_image img {
         width: auto;
    }
     .witr_service2_7 .witr_titles_content {
         margin-top: 20px;
    }
     .wirt_detail_icon {
         float: none;
         margin-right: 0px;
         margin-bottom: 5px;
    }
     .witr_service_s_12 .text_box {
         bottom: -121px;
    }
    /* tab css */
     .arnika_tab li {
         margin-bottom: 20px;
    }
     .witr_adv_tab_content {
         margin: 0;
    }
     .witr_taba_style1 .nav-tabs .nav-link {
         margin-right: 0px;
    }
     .nav-tabs {
         justify-content: center !important;
    }
    /* accourdion css */
     .witr_ac_style {
         font-size: 15px;
    }
     .witr_ac_style:before, .active .witr_ac_style:before {
         right: 10px;
    }
     .arnika-accourdion-title h2{
         font-size: 14px;
         padding-left: 20px;
    }
    /* blog css */
     .blog-img img {
         width: 100%;
    }
     .witr_blog_con {
         padding: 12px 10px 18px;
    }
     .witr_blog_con h2 {
         font-size: 21px;
    }
     .witr_post_Author {
         margin: 0 10px;
    }
     .recent-post-image {
         float: none;
    }
    /* counter css */
     .witr_counter_single {
         text-align: center;
         margin-bottom: 20px;
    }
     .witr_counter_icon i{
         margin-bottom: 15px;
         margin-right: 0;
         float: none;
    }
     .witr_counter_img, .witr_custom_icon {
         margin-bottom: 10px !important;
         float: none !important;
    }
     .witr_custom_icon i{
         margin-right: 0;
         float: none;
    }
     .witr_counter_6 .wirt_new_iner {
         width: 100%;
         margin-bottom: 30px;
    }
    /* video css */
     .video-play-6 {
         width: 80%;
    }
     .subscribe form input {
         width: 500px;
    }
     .download-content-6 ul li a {
         padding: 12px 46px 12px 80px;
    }
     .donwload-overlay {
         padding-top: 215px;
    }
     .video-part .video-overlay .video-item h3 {
         font-size: 25px;
    }
     .video-part .video-overlay {
         padding: 110px 0px;
    }
     .play-overlay{
         top: 50% !important;
         left: 50% !important;
    }
     .witr_videobg_image img {
         height: 300px !important;
    }
     .witr_videos_title_text {
         display:none;
         width: 100% !important;
    }
     .digital-img {
         margin-top: 100px;
    }
    /* contact css */
     .field.topfield .form-field {
         float: none;
         width: 100%;
    }
     .form-controls .field.topfield .form-field:nth-child(2n) {
         margin-left: 0;
    }
     .witr_field1 .witr_form_field1 {
         width: 100%;
    }
     .witr_form_controls1 .witr_field1 .witr_form_field1:nth-child(2n) {
         margin-left: 0;
    }
    /* apps_button css */
     .w_apps_button_image {
         margin-right: 0;
         margin-bottom: 20px;
    }
     .tab_content.text-left {
         text-align: center !important;
    }
    /* blog css */
     .footer-middle {
         text-align: center;
    }
     .blog-content h5 > a {
         font-size: 17px;
    }
     .blog-content span {
         font-size: 12px;
    }
     .blog-page-title h2 {
         font-size: 17px;
    }
     .wblog-content h5 > a {
         font-size: 20px;
    }
     .wblog-content span {
         margin-right: 5px;
    }
     .blog-left-side .blog-title > ul > li > a {
         margin-right: 8px;
    }
     .widget .widget_media_image img{
         width:100%;
    }
     .recent-post-text > h4 {
         margin-top: 2px;
         line-height: 1;
    }
     .recent-post-text h4 a {
         font-size: 14px;
    }
     .witr_blog_con6 h2 a{
         font-size: 19px;
    }
     .witr_blog_con6 h5 a {
         font-size: 15px;
    }
     .witr_blog_area8 .witr_blog_con6 p {
         display: none;
    }
    /* call to action */
     .arnika_button.no_margin.text-right, .all_cal_color {
         text-align: center !important;
    }
     .cal_to_toggole {
         display: inherit;
    }
     .arnika_content.text-right, .arnika_content.text-left{
         text-align:center !important;
    }
     .arnika_button.no_margin {
         width: 100% !important;
    }
     .arnika_content p {
         width: 100% !important;
    }
     .arnika_video_inner{
         top: 21px;
    }
     .arnika_video11.arnika_video_inner{
         top: 50%;
    }
     .arnika_content h5 {
         font-size: 18px;
    }
     .arnika_button a {
         margin-bottom: 15px;
         margin-right: 0px;
    }
     .arnika_content h2, .arnika_content h3{
         font-size: 23px;
    }
     .witr_9 .arnika_video_inner{
         margin-bottom: 73px;
    }
     .witr_b9 {
         margin-top: -10px;
    }
     .arnika_content {
         margin-bottom: 30px;
    }
    /* shortcode_content */
     .witr_shortcode_inner {
         padding: 73px 15px 63px !important;
    }
     .shortcode_content h2 {
         font-size: 27px !important;
    }
     .mc4wp-form-fields button {
         width: 100%;
         position: inherit;
         padding: 18px 30px;
         margin-top: 25px;
    }
     .witr_joined .witr_con_btn2 .w_btn2 {
         position: inherit;
         width: 100%;
    }
     .witr_sstyle_9 {
         padding: 42px 20px 50px;
    }
     .w_apps_button {
         margin-bottom: 30px;
    }
    /* single portfolio2 */
     .portfolio-details-box {
         margin-left: 0;
    }
     .portfolio-details-box ul li span.eright {
         font-size: 15px;
         margin-left: 0;
    }
     .portfolio-details-box ul li b {
         font-size: 15px;
    }
     .portfolio-details-box h2 {
         padding-top: 20px;
    }
     .portfolio-details-box .arnika-single-icon-inner a {
         margin: 0 4px;
    }
    /* single_protfolio css */
     .single_protfolio {
         margin-bottom: 30px;
    }
     .portfolio_nav ul li {
         padding: 6px 20px;
    }
    /* contact css */
     .witr_field2 .witr_form_field2, .witr_field2 .witr_form_field2 {
         float: none;
         width: 100%;
    }
     .witr_form_controls2 .witr_field2 .witr_form_field2:nth-child(odd), .witr_form_controls2 .witr_field2 .witr_form_field2:nth-child(odd) {
         margin-right: 0;
    }
    /* display none css*/
     .owl-nav, .slick-prev, .slick-next, .em-nivo-slider-wrapper .nivo-directionNav {
         display: none;
    }
    /* timeline css*/
     .witr_sicon_bottom.witr_hd_timeline_contant {
         padding-bottom: 20px;
         padding-top: 30px;
    }
     .mrl65 {
         margin-left: 16px;
         padding-top: 25px;
    }
     .mrl110 {
         margin-left: 17px;
         padding-top: 25px;
        ;
    }
     .mrr90 {
         margin-right: 15px;
    }
     .mrr50 {
         margin-right: 14px;
    }
     .mrr15 {
         margin-right: 14px;
    }
    /* static tab css*/
     .arnika_event_thumb {
         float: none;
         margin-bottom: 15px;
    }
     .arnika_single_event {
         margin: 0;
    }
     .arnika_event_icon span {
         margin-right: 5px;
    }
     .event_display_flex {
         display: initial;
    }
     .wite_event_box {
         margin-left: 0;
    }
     #sb_instagram .sbi_photo_wrap {
         margin-bottom: 25px;
    }
     .testomonial-slide .slick-prev, .blog_wrap .slick-prev {
         left: 15px;
    }
     .testomonial-slide .slick-next, .blog_wrap .slick-next {
         right: 15px;
    }
     .em-feature {
         margin-bottom: 23px;
    }
     .single_counter {
         margin-bottom: 20px;
    }
     .woocommerce div.product .woocommerce-tabs ul.tabs li a {
         padding: .5em 6px;
    }
     .woocommerce div.product .woocommerce-tabs ul.tabs li {
         padding: 0px .5em;
         margin-right: 6px;
    }
     .arnika-header-top {
         display:none;
    }
     .accordion_area {
         padding-top: 30px;
    }
     .footer-sociala-icon {
         float: none;
    }
     .footer-sociala-info p {
         text-align: center;
    }
    /*====== new css ======= */
    /* ab_videoArea */
     .ab_videoArea {
         padding: 44px 23px 40px;
    }
     .singleAbSlide {
         position: inherit;
         bottom: -30px;
         right: 0;
         left: 0;
    }
    /* service */
     .singleSS {
        /* padding: 61px 24px 60px;
         */
    }
     .detail_SS h3 {
         font-size: 21px;
    }
	
	/* em_single_testimonial	 */
     .em_single_testimonial {
         padding: 37px 20px 26px;
    }
     .witr_testi_itemt {
         padding: 0px;
    }
     .em_testi_logo {
         right: 15px;
         top: 35px;
         display:none;
    }
     .testimonial_post_13 {
         display: inherit !important;
    }
     .test_text_all {
         padding: 25px 10px 26px;
    }
	.single_2p_testimonial {
		text-align: center;
	}	
	.img_text_part_dflex,	
	.two_part_dflex {
		display: inherit;
	}
	.title_and_sub {
		margin: 10px 0;
	}
	
    /* icon_section */
     .text-left .icon_section {
         left: 19%;
    }
     .text-right .icon_section {
         right: 45px;
         bottom: -15%;
    }
     .witr_nth_child:nth-child(2n) {
         margin-top: 0;
    }
    /* single_image */
     .single_image {
         left: 0 !important;
    }
     .single_image img{
         width: 100% !important;
         max-width: 100% !important;
    }
     .witr_tx_ovei_title {
         position: inherit;
         right: auto;
         left: auto;
         top: auto;
         padding: 30px;
         width: 100%;
         border-radius: 0px;
    }
    /* about css */
     .witr_text_widget_inner h1, .witr_text_widget_inner h2 {
         font-size: 23px;
    }
     .witr_about_content {
         text-align: center;
    }
     .witr_about_content h3 {
         font-size: 30px;
    }
     .witr_about_image {
         margin-top: 30px;
    }
     .witr_service3_box {
         top: 50%;
         transform: translateX(-50%) translateY(-50%);
         left: 50%;
        padding: 0;
    }
     .em_slider_social {
         top: 40%;
         display: none;
    }
    /* team css */
     .witr_back_img img {
         height: 554px !important;
         height: auto;
    }
     .team_single_content h3 {
         font-size: 30px;
         margin-top: 20px;
    }
    /* new css add */
     .witr_dis_btngr {
         display: inherit;
    }
     .witr_circal_r {
         margin-left: 0;
    }
     .witr_event_style_5 .witr_event_d {
         padding-top: 3px;
    }
     .witr_event_style_5 .witr_event_btn {
         margin-top: 5px;
    }
     .witr_event_style_7 .event-page-title_adn {
         padding-top: 0;
    }
     .single_admin img {
         display: none;
    }
     .witr_event_style_7 .witr_event_btn {
         text-align: left;
         margin-top: 20px;
    }
     .witr_appoimentle{
         position: initial !important;
    }
     .apartment_text h2 {
         font-size: 25px;
    }
    /* ps sliser */
     .ps1 .witr_content_pslide_text {
         padding: 0 10px 20px;
         left: 0px;
         right: 0px;
    }
     .witr_content_pslide_text h3 {
         font-size: 19px;
    }
     .ps1 .witr_pslide_btnb {
         float: none;
         margin-top: 0;
    }
     .toggle_pslide {
         display: inherit;
    }
     .witr_pslide5 .witr_content_pslide_text {
         padding: 10px 15px 15px 15px;
    }
     .slick-prev, .slick-next{
         display: none !important;
    }
     #scrollUp {
         bottom:120px;
         right: 30px;
    }
     .witr_blog_area10 .witr_blog_con {
         padding-top: 12px;
    }
.wirr_portfolio_area .text-right {
    text-align: center!important;
}	
.wirr_portfolio_area .witr_section_title_inner h3 {
    text-align: center;
}	
.witr_shape_item_inner {
   display:none;
}	
.witr_team_section img{
	width:100%;
}	
.witr_testimonial_bg_area .all_color_testimonial p {
	font-size: 19px;
}	
.top_address_content a, 
.top_address_content span {
	line-height: 28px;
     margin-bottom: 10px;
}	
.arnika_about_area .single_image_area {
    margin-top: 50px;
}	
.witr_sub_item {
    padding: 20px 11px 50px;
}	
.witr_section_right {
    margin-bottom: 40px;
}	
.faq_style2 .witr_ac_style {
    padding: 19px 13px 19px;
}	
.single_image_area {
    margin-bottom: 40px;
}	
.arnika_video_bg_area {
    background-position: center right;
    padding: 100px 0px 100px;
}	
.witr_content_pslide_text a {
    font-size: 20px;
}	
.team_area .text_box {
    padding: 10px 18px 31px;
}	
.portfolio-details-box .arnika-single-icon-inner a {
    margin: 0 2px;
}	
.apartment_area {
    padding: 60px 16px 47px;
}	
	
	
	
	
	
	
}

/* ------------------------------------------------- 
Large Mobile :480px.
 ---------------------------------------------------*/
 @media only screen and (min-width: 480px) and (max-width: 767px) {
     .em-slider-button {
         display: block;
    }
     .em-nivo-slider-wrapper .nivo-directionNav {
         display: block;
    }
     .em-button-button-area a {
         margin-right: 5px;
         margin-top: 15px;
         padding: 3px 20px;
         font-size: 12px;
    }
    /*=========== banner area 2 css ===============*/
     .banner-content button {
         position: absolute;
    }
    /* portfolio css */
     .portfolio_nav ul li {
         margin: 0 2px 10px;
    }
    /* banner area css */
     .witr_banner_area {
         height: 600px;
    }
     .witr_banner_content.text-right p {
         width: 92%;
         margin:auto;
         font-size:17px;
    }
     .witr_banner_content.text-left p {
         width: 92%;
         margin:auto;
         font-size:17px;
    }
    /* section_title */
     .witr_section_title_inner h1, .witr_section_title_inner h2, .witr_section_title_inner h3 {
         font-size: 25px;
    }
     .witr_section_title_inner.text-center p, .witr_section_title_inner.text-left p, .witr_section_title_inner.text-right p {
         width: 91%;
    }
    /* text_widget css */
     .witr_text_widget_inner p, .about-content span{
         font-size: 14px !important;
    }
    /* blog css */
     .blog-part {
         text-align: center;
    }
    /* Screenshots css */
     .dnSlide-main.done {
         -webkit-transform: scale(0.7);
         transform: scale(0.7);
         margin-left: -196px;
    }
     .Screenshots-fearm img {
         width: 256% !important;
         max-width: 256% !important;
         left: -98px;
         top: 49px;
    }
     .arnika-header-top {
         display:block;
    }
}
/* menu and logo show & hide */
 @media (min-width: 10px) and (max-width: 991px){
     .mobile-menu{
         display:block !important;
    }
     .mobile_logo_area{
         display:block !important;
    }
     .arnika-main-menu{
         display:none !important;
    }
     .d_md_none{
         display:none !important;
    }
     .em-feature {
         margin-bottom: 20px;
    }
     .single_counter {
         margin-bottom: 20px;
    }
}
 @media (min-width: 10px) and (max-width: 991px){
     .text_m_center{
         text-align:center !important;
    }
     .text_m_right{
         text-align:right !important;
    }
     .text_m_left{
         text-align:right !important;
    }
     .menu_18.top-address p span {
         font-size: 13px;
    }
     .footer-top-inner p {
         width: 85%;
    }
     .witr_joined .witr_con_btn2 .w_btn2 {
         position: inherit;
         width: 100%;
    }
}
 @media (min-width: 10px) and (max-width: 768px){
     .ps_absulate{
         position: inherit !important;
    }
     .psc_absolute{
         position: inherit !important;
    }
}
 @media (min-width: 570px) and (max-width: 767px){
     .text_s_center{
         text-align:center !important;
    }
     .text_s_right{
         text-align:right !important;
    }
     .text_s_left{
         text-align:right !important;
    }
     .footer-top-inner p {
         width: 95%;
    }
}
 @media (min-width: 10px) and (max-width: 570px){
     .arnika-header-top{
         display:none;
    }
}
 